.container {
    text-align: center;
    height: 600px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
        ". . ."
        ". content ."
        ". . .";
    background: url("../../images/bg-masthead.jpg");
}

.content {
    grid-area: content;
    color: white !important;

}

.text {
    font-size: 2.5em;
    color: white;
}

.form button{
    margin-left: 20px;
}

.input {
    width: 60%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

::before{
    border-color: white !important;
}

@media only screen and (max-width: 800px) {
    .input {
        width: 100%;
    }
    .form button{
        width: 100%;
        margin-top: 20px;
        margin-left: 0;

    }

    .text {
        font-size: 1.8em;
        color: white;
    }

    .container {
        grid-template-columns: 5% 90% 5%;

    }

}